/*
 0000000  000000000  000   000  000    
000          000      000 000   000    
0000000      000       00000    000    
     000     000        000     000    
0000000      000        000     0000000
*/

frameWidth          = 6px
titlebarHeight      = 30px
titlebarFontSize    = 15px
fontMono            = "Meslo LG S", "Liberation Mono", "Menlo", "Cousine", "Andale Mono", monospace
fontUnicode         = "Arial Unicode MS", sans-serif

// fill-abs()
    // position            absolute
    // bottom              0
    // right               0
    // left                0
    // top                 0

// 0000000     0000000   0000000    000   000
// 000   000  000   000  000   000   000 000 
// 0000000    000   000  000   000    00000  
// 000   000  000   000  000   000     000   
// 0000000     0000000   0000000       000   

// *
    // outline-width       0
    
body
    // fill-abs()
    // margin              0
    // overflow            hidden
    font-family         fontMono
    font-size           14px
    // -webkit-app-region  no-drag
    // -webkit-user-select none
    
#main
    // fill-abs()
    // top                 titlebarHeight
    // scroll              none
    // overflow            hidden
    // pointer-events      auto
    display             flex
    flex-direction      column
    
.card
    margin-top          12px
    padding-bottom      22px
    border-radius       6px
    font-family         fontUnicode
    font-size           150px
    
// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

#input
    display             block
    min-height          80px
    margin              10px
    border-radius       10px
    overflow            hidden

.input-text 
    overflow            hidden
    position            absolute
    height              auto
    left                10px
    text-align          left
    padding-left        10px
    padding-right       10px
    -webkit-user-select text
    
.test-char
    display             inline-block
    font-size           6px
    font-family         fontUnicode
    color               #fff
    background-color    #000
    pointer-events      none
        
//  0000000  000   000  00000000  00000000  000000000  
// 000       000   000  000       000          000     
// 0000000   000000000  0000000   0000000      000     
//      000  000   000  000       000          000     
// 0000000   000   000  00000000  00000000     000     

#sheet
    margin              10px
    height              100%
    -webkit-user-select text
    overflow            auto
    cursor              text
    pointer-events      all

#sheet .group
    cursor              pointer
    font-family         fontUnicode
    -webkit-user-select none
    
.name span:not(:last-child)
    white-space         nowrap
    opacity             0.25
    
#sheet .text 
    cursor              text
    margin-left         120px
    -webkit-user-select text
    & span
        display         inline-block

    
    